@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");

body {
  background-color: beige;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: black;
  height: 48px;
  color: white;
}
nav ul li {
  padding: 0 10px;
}
.logo-cont img {
  margin: 9px;
  width: 33px;
}
.logo-cont {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 23px;
}
.container {
  background-size: 100% 100%;
  width: 70%;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 4px 2px black;
  border-radius: 12px;

  margin: 23px auto;
  height: 74vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  padding: 15px 25px;
  background-image: url(./backg.avif);
}
.bottom {
  color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  position: fixed;
  height: 105px;
  background-color: black;
  justify-content: center;
}
#range-cont {
  width: 80vw;
}
.icon-cont {
  padding: 8px 0;
}
.icon-cont i {
  cursor: pointer;
  padding: 0 3px;
}
.song-item-cont {
  justify-content: space-between;
  margin: 14px 0px;
  background: white;
  display: flex;
  height: 38px;
  width: 31%;
  align-items: center;
  color: black;
  padding: 8px;
  border-radius: 8px;
}
.song-item-cont img {
  border-radius: 5px;

  width: 29px;
  height: 29px;
}
.time {
  margin: 0 6px;
}
